body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #faf8ef;
}

/* header */
hr {
    border-top: 1px solid #ac957f; /* Color of the horizontal line */
    width: 400px;
}

.header {
    padding-top: 50px;
}

.header-title h1 {
    font-size: 48px;
    margin: 0;
    color: #776e65;
}

.header-title p {
    font-size: 16px;
    margin: 5px 0 0 0;
    color: #776e65;
}

/* score */

.score-box {
    font-weight: bold;
    display: inline-block;
    background-color: #8f7a66; 
    color: white;
    text-align: center; 
    padding: 10px 20px; 
    border-radius: 8px; /* Rounded corners */
    min-width: 100px; 
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 1rem;
  }
  
  .score-box .score {
    font-size: 24px; /* Larger font for the score value */
    font-weight: bold; /* Make the score value bold */
  }

  /* auto-solve button */

  .auto-button, .newgame-button {
    background-color: #8f7a66; 
    color: white; 
    font-size: 15px; 
    font-weight: bold; 
    text-align: center; 
    padding: 10px 20px;
    border: none; 
    border-radius: 8px;
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .auto-button:hover, .newgame-button:hover {
    background-color: #ac957f; 
  }
  
/* board */
#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto; /* center board */
    /* make sure tiles we put in our board div will go inline
    4 in each row instead of stacking on each other */
    display: flex;
    flex-wrap: wrap; 
}

.tile {
    /* 90px + 10px per border per tile of a total 400px tile board */
    width:90px;
    height:90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* tile 2 -8192 */
.x2 { background-color: #eee4da; color: #727371 }
.x4 { background-color: #ece0ca; color: #727371 }
.x8 { background-color: #f4b17a; color: white; }
.x16{ background-color: #f59575; color: white; }
.x32{ background-color: #f57c5f; color: white; }
.x64{ background-color: #f65d3b; color: white; }
.x128{ background-color: #edce71; color: white; }
.x256{ background-color: #edcc63; color: white; }
.x512{ background-color: #edc651; color: white; }
.x1024{ background-color: #eec744; color: white; }
.x2048{ background-color: #ecc230; color: white; }
.x4096 { background-color: #fe3d3d; color: white; }
.x8192 { background-color: #ff2020; color: white; }

/* instructions */
.instructions {
    width: 400px;
    margin: 20px auto; /* Center the instructions below the board */
    text-align: center;
    color: #776e65; /* Text color */
    font-size: 14px;
    line-height: 1.5;
}

.instructions p {
    margin: 10px 0; /* Space between paragraphs */
}

.instructions hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ac957f; /* Color of the horizontal line */
    margin: 10px 0; /* Space around the horizontal line */
}

@media(max-width: 860px) {
    .score-box { margin-right: 0rem; padding: 5px 10px;}
    .auto-button, .newgame-button { font-size: 10px; padding: 5px 10px;}

    hr { width: 300px; }
    .header { padding-top: 10px; }
    .header-title h1 { font-size: 30px; }
    .header-title p { font-size: 15px; }

    #board {
        width: 270px;
        height: 270px;
        border: 6px solid #bbada0;
    }

    .tile {
        /* 90px + 10px per border per tile of a total 400px tile board */
        width:57.5px;
        height:57.5px;
        border: 5px solid #bbada0;
        font-size: 25px;
    }

    /* instructions */
    .instructions { width: 250px; font-size: 13px; }
    .instructions p { margin: 5px 0; }
    .instructions hr { width: 100%; margin: 10px auto;}

}